.section_6 {
    height: 750px;
}

.sec_6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ourclients_s6 {
    margin-top: 110px;
    height: 150px;
    width: 476px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text1_section6 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin: 0px 0px 13px 0px;
}

.text2_s6 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.clients_s6 {
    height: 500px;
    width: 1340px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.person_s6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 376px;
    width: 450px;
    padding-top: 80px;
    margin-right: 54px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.person_s6l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 376px;
    width: 450px;
    padding-top: 80px;
    margin-right: 53px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.person_s6b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 376px;
    width: 450px;
    padding-top: 80px;
    margin-left: 53px;
    margin-right: 54px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.person_border {
    border-radius: 50%;
    margin-right: 25px;
}

.text_person {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.pr_s6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

.text_person2 {
    padding-left: 20px;
    padding-right: 30px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}


.in_bl2_s6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 445px;
    width: 917px;
    margin-top: 131px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.questions_s6 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 34px 313px 0px 313px;
}

.input_phone_s6 {
    margin-left: 54px;
    width: 231px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.input_name_s6 {
    margin-bottom: -5px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    width: 231px;

}

.input_question_s6 {
    width: 530px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 203px;
    margin-top: 36px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}


.inputtext_s6 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 3px;
    margin-bottom: -10px;
}

.img_check_s6 {
    margin-left: 298px;
}

.button_s6 {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border-radius: 2px;
    height: 51px;
    width: 200px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: 0;
    border: 0;
    padding: 10px 54px;
    margin: 39px 361px 34px 361px
}

.person_img {
    margin: 15px 0px 0px -15px;
}

.text_check_s6 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
    margin-left: 8.62px;
}

.text_check_s6 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px 0px 0px 8.62px;
}

.input_field_s6 {
    background-color: #131313;
    color: white;
    width: 231px;
    padding: 6px 0px;
    font-family: 'NunitoSans-Regular';
    font-size: 14px;
    border: none;
}

.input_field_s6q {
    background-color: #131313;
    color: white;
    width: 518px;
    padding: 6px 0px;
    font-family: 'NunitoSans-Regular';
    font-size: 14px;
    border: none;
}

.input_field_s6::placeholder,
.input_field_s6q::placeholder {
    color: white;
}

.namephone_s6 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.in_bl2_s6 .invisible_s4 {
    padding-left: 298px;
}

.lineinputs6n {
    margin-bottom: 12px;
}